doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Playlist Dashboard
    link(rel="stylesheet" href="assets/css/playlist.css")
  body
    header
      h1 Playlist Dashboard
    main
      .container
        .playlist
          img(src="/public/image/chill.png" alt="Playlist 1")
          h3 Chill Vibes
          p Relaxing and mellow tunes for your downtime.
        .playlist
          img(src="/public/image/beats.png" alt="Playlist 2")
          h3 Upbeat Hits
          p Energetic tracks to get you moving.
        .playlist
          img(src="/public/image/rocks.png" alt="Playlist 3")
          h3 Classic Rock
          p Timeless rock anthems that never get old.
    footer
      p &copy; 2024 Music App. All Rights Reserved.

    script(src="assets/js/playlist.js")